{{- $googleFonts := site.Params.GoogleFonts }}
{{- $googleFont := site.Params.GoogleFont }}
{{- if and $googleFonts $googleFont }}
{{- errorf "define an array of googleFonts or a single googleFont but not both" }}
{{- else if $googleFonts }}
{{- range site.Params.GoogleFonts }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ . }}" />
{{- end }}
{{- else if $googleFont }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ $googleFont }}" />
{{- end }}