<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default `en-us` }}">
<head>
    <meta charset="{{ site.Params.Charset | default `utf-8` }}">
    <link rel="icon" type="image/png" href="{{ `favicon.ico` | absURL }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {{- if .IsHome -}}
      {{ site.Title }}
      {{- else -}}
      {{ page.Title }}
      {{- end -}}
    </title>
    {{- if .Params.fonts.google }}
      {{- partialCached "head/googlefonts.html" . }}
    {{- end }}
    {{- partialCached "head/css.html" . }}
    {{- partialCached "head/js.html" . }}
  </head>
<body class="bg-gray-100 font-sans">
  <header>
    {{- partial "header.html" . }}
  </header>
  <main>
    {{- block "main" . }}{{ end }}
  </main>
  <footer>
    {{- if not .IsHome }}
    <p>
        <a id="up" href="..">../</a>
    </p>
    {{- end }}
    <p class="font-light text-xs text-gray-600 m-auto">
      {{  .RenderString ":copyright:" }}
      {{ .Site.Copyright }}.
      All rights reserved.
    </p>
  </footer>
  {{- if .Site.Config.Services.GoogleAnalytics.ID }}
  {{- template "_internal/google_analytics.html" . }}
  {{- end }}
</body>
</html>
